@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
@model Nop.Plugin.Payments.MercadoPago.Models.GenericModel
@using Nop.Web.Framework;

<strong>
    @T("Checkout.YourOrderHasBeenSuccessfullyProcessed")
</strong>
<p>
    @T("Checkout.OrderNumber"): @Model.orderId
</p>
<p>
    <a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.orderId})">@T("Checkout.PlacedOrderDetails")</a>
</p>
